body{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: white;
}
li{
    list-style-type: none;
}
nav{
    display: flex;
    align-items: center
}
ul{
    display: flex;
    gap: 50px;
    font-size: 20px;
    font-family: arial;
}
header{
     display: flex;
    justify-content: space-around;
    position: sticky;
    z-index: 1;
    top: 0;background-color:rgb(82, 81, 81);
    width: 500;
    height: 80px;
    border-bottom: solid 4px palevioletred;
    
}
.logo{
    display: flex;
    height: 30px;
    margin-top: 30px;

}
.smart{
    color: white;
    font-size: 20px;
    font-family: arial;
    display: flex;
    margin-left: 100px;
    margin-top: -30px;
}
.search{
     height: 30px;
     width: 30px;
     margin-top: 10px;
}
.section1{
    background-image: url(./images/benz1.jfif);
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;

/* CSS ANIMATION */
   animation-name: imgslide;
   animation-iteration-count: infinite;
   animation-duration: 20s;
}
@keyframes imgslide{
    10%{
        background-image: url(./images/lambo2.jfif);
    }
    20%{
        background-image: url(./images/benz3.jfif);
    }
    30%{
        background-image: url(./images/ferra3.jfif);
    }
    40%{
        background-image: url(./images/lex3.jfif);
    }
     
    50%{
        background-image: url(./images/ferra2.jfif);
    }
     
    60%{
        background-image: url(./images/toyo\ 2.jfif);
    }
     
    70%{
        background-image: url(./images/benz3.jfif);
    }

    80%{
        background-image: url(./images/hon3.jfif);
    }
 
}
.IT-solution{
      font-family: arial;
      font-size: 2.5rem;
      margin-left: 90px;
      margin-top: 5px;
      padding-top: 200px;

}
.buttondiv{
    display: flex;
    gap: 40px;
    margin-left: 150px;
}
.learn-btn{
    background-color: blue;
    color: white;
    font-size: 25px;
    padding: 15px 10px;
    border-radius: 10px;
    box-shadow: 2px 5px 7px red;
    transform: rotate(330deg);
}
.visit-btn{
    background-color: rgb(201, 92, 128);
    color: white;
    font-size: 25px;
    padding: 15px 10px;
    border-radius: 10px;
    box-shadow: 2px 5px 7px red;
    transform: rotate(40deg);
}
#services{
    font-size: 2rem;
    font-weight: bolder;
    text-align: center;
    color: red;
    animation-name:textblink;
    animation-iteration-count: infinite;
    animation-duration: 1s;

}
@keyframes textblink{
    5%{
        opacity: 1;
    }
    10%{
        opacity: 0;
    }
    15%{
        opacity: 1;
    }
}
